@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fjalla One", sans-serif;
}

/*top*/
.top-section {
  position: relative;
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: crimson;
  background-size: cover;
  background-position: center;
}

header {
  position: relative;

  top: 0;
  width: 100%;
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company {
  position: relative;
  color: white;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}
.nav a {
  color: white;

  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  font-size: 25px;
  transition: 0.3s;
  transition-property: background;
}

.nav a:not(:last-child) {
  margin-right: 30px;
}
.nav a:hover {
  background: #fff;
}

/*attract*/
.attract-section {
  display: flex;
  position: relative;

  background-color: #252525;
}
.attract-content {
  display: flex;
  width: 100%;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-evenly;
}
img {
  width: 140px;
  display: flex;
  justify-content: center;
  border-radius: 18px;
}

.slogan {
  position: relative;
  color: crimson;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  align-items: center;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}
/*paragraph*/
.paragraph {
  background-color: #252525;
  position: relative;
  color: white;
  font-size: 18px;
  display: flex;
  padding: 10px 30px;
  justify-content: space-around;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

/*2ndpara*/
.title {
  background-color: #252525;
  color: crimson;
  margin: 0;
  padding: 30px 30px;
  text-transform: uppercase;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.info1 {
  color: white;
  font-size: 15px;
  display: flex;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

/*info*/

.info-section {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  margin: 0;
  padding: 30px 30px;
  color: white;
  background-color: #252525;
}

.price {
  border: 3px solid crimson;
  background-color: crimson;
  border-radius: 10px;
  text-align: center;
}

.tempoh {
  border: 3px solid crimson;
  background-color: crimson;
  border-radius: 10px;
  text-align: center;
}

/*para2nd*/

.para2 {
  position: relative;
  background-color: black;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}
/*contact*/
.contact-section {
  position: relative;
  justify-content: space-evenly;
  display: flex;
  padding: 20px 20px;
  background-color: #252525;
}
.contact-section a {
  color: black;
  background: white;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px 10px;
  border-radius: 110px;
  transition: 0.3s;
  transition-property: background;
}

/*footer section*/

.footer {
  background-color: grey;
  min-height: 25px;
  position: relative;
}

.footer-bottom {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
